<!-- About us -->
<div class="row white" style="font-weight: 600;">
    <div class="col-xs-12 text-center mgBot20">
        <h3 class="welcome text-shadow font47px"><%= texts.home.aboutUs.header %></h3>
    </div>
    <div class="col-xs-10 col-xs-offset-1 aboutUsContainer">
        <div class="row vertical-align">
            <div class="col-xs-12 col-md-4">
                <img src="/img/information/maria.jpg" alt=""/>
            </div>
            <div class="col-xs-12 col-md-8">
                <%= texts.home.aboutUs.text[1] %>
            </div>
        </div>
        <div class="row vertical-align hidden-xs hidden-sm">
            <div class="col-xs-12 col-md-8">
                <p><%= texts.home.aboutUs.text[2] %></p>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="/img/information/cattery.jpg" alt=""/>
            </div>
        </div>
        <div class="row vertical-align hidden-md hidden-lg">
            <div class="col-xs-12 col-md-4">
                <img src="/img/information/cattery.jpg" alt=""/>
            </div>
            <div class="col-xs-12 col-md-8">
                <p><%= texts.home.aboutUs.text[2] %></p>
            </div>
        </div>
        <div class="row vertical-align">
            <div class="col-xs-12 col-md-4">
                <img src="/img/information/page_2_4.jpg" alt=""/>
            </div>
            <div class="col-xs-12 col-md-8">
                <%= texts.home.aboutUs.text[3] %>
            </div>
        </div>
        <div class="row vertical-align hidden-xs hidden-sm">
            <div class="col-xs-12 col-md-8">
                <%= texts.home.aboutUs.text[4] %>
            </div>
            <div class="col-xs-12 col-md-4">
                <img src="/img/information/page_2_3.jpg" alt=""/>
            </div>
        </div>
        <div class="row vertical-align hidden-md hidden-lg">
            <div class="col-xs-12 col-md-4">
                <img src="/img/information/page_2_3.jpg" alt=""/>
            </div>
            <div class="col-xs-12 col-md-8">
                <%= texts.home.aboutUs.text[4] %>
            </div>
        </div>
        <div class="row vertical-align">
            <div class="col-xs-12 col-md-4">
                <img src="/img/information/page_2_2.jpg" alt=""/>
            </div>
            <div class="col-xs-12 col-md-8">
                <%= texts.home.aboutUs.text[5] %>
            </div>
        </div>
    </div>
</div>
<!-- END About us -->