<footer class="page-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-xs-4 text-center">
                <img class="mgTop20" src='/img/footer/logo_shaparack_130_115.png'/>
            </div>
            <div class="col-md-3 col-md-offset-1 col-xs-6 col-xs-offset-2" style="height: 135px; padding-top: 25px;">
                <i class="material-icons materialIconsTop">phone</i> +38 093 118 93 93<br>
                <i class="material-icons materialIconsTop">email</i> <a href="mailto:shaparackc@yahoo.com">shaparackc@yahoo.com</a><br>
                <i class="material-icons materialIconsTop">location_on</i><%= texts.menu.location %> <br>
            </div>
            <div class="col-md-2 col-xs-4">
                <h5 class="white-text">Persian cats</h5>
                <ul class="" aria-labelledby="Persian cats">
                    <li><a href='/browse?profile=persianMale"&lang=<%= lang %>'><%= texts.menu.catsDropdown.males %></a></li>
                    <li><a href='/browse?profile=persianFemale&lang=<%= lang %>'><%= texts.menu.catsDropdown.females %></a></li>
                    <li><a href='/browse?profile=persianNewBorn&lang=<%= lang %>'><%= texts.menu.catsDropdown.newBorn %></a></li>
                    <li><a href='/browse?profile=persianForSale&lang=<%= lang %>'><%= texts.menu.catsDropdown.forSale %></a></li>
                    <li><a href='/browse?profile=persianMyStars&lang=<%= lang %>'><%= texts.menu.catsDropdown.myStars %></a></li>
                    <li><a href='/catShows?lang=<%= lang %>'><%= texts.menu.catsDropdown.shows %></a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-4">
                <h5 class="white-text">Exotic cats</h5>
                <ul class="" aria-labelledby="Exotic cats">
                    <li><a href='/browse?profile=exoticMale&lang=<%= lang %>'><%= texts.menu.catsDropdown.males %></a></li>
                    <li><a href='/browse?profile=exoticFemale&lang=<%= lang %>'><%= texts.menu.catsDropdown.females %></a></li>
                    <li><a href='/browse?profile=exoticNewBorn&lang=<%= lang %>'><%= texts.menu.catsDropdown.newBorn %></a></li>
                    <li><a href='/browse?profile=exoticForSale&lang=<%= lang %>'><%= texts.menu.catsDropdown.forSale %></a></li>
                    <li><a href='/browse?profile=exoticMyStars&lang=<%= lang %>'><%= texts.menu.catsDropdown.myStars %></a></li>
                    <li><a href='/catShows?lang=<%= lang %>'><%= texts.menu.catsDropdown.shows %></a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-4">
                <h5 class="white-text">Scottish cats</h5>
                <ul class="" aria-labelledby="Scottish cats">
                    <li><a href='/browse?profile=scottishMale'&lang=<%= lang %>><%= texts.menu.catsDropdown.males %></a></li>
                    <li><a href='/browse?profile=scottishFemale&lang=<%= lang %>'><%= texts.menu.catsDropdown.females %></a></li>
                    <li><a href='/browse?profile=scottishNewBorn&lang=<%= lang %>'><%= texts.menu.catsDropdown.newBorn %></a></li>
                    <li><a href='/browse?profile=scottishForSale&lang=<%= lang %>'><%= texts.menu.catsDropdown.forSale %></a></li>
                    <li><a href='/browse?profile=scottishMyStars&lang=<%= lang %>'><%= texts.menu.catsDropdown.myStars %></a></li>
                    <li><a href='/catShows?lang=<%= lang %>'><%= texts.menu.catsDropdown.shows %></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            <div class="row mgTop15">
                <div class="col-xs-12 col-md-6 copyrightRight-md">
                    Copyright © 2015-2016 "Shaparack" cattery
                </div>
                <div class="col-xs-12 col-md-6 copyrightLeft-md">
                    <%= texts.footer.designedBy %>
                    <a href="http://www.studio-newweb.com" target="_blank">studio NEWWEB</a>
                </div>
            </div>
        </div>
    </div>
</footer>