<!DOCTYPE html>
<html>

<%- include('layout/head') %>

<body data-spy="scroll" data-target=".navbar" data-offset="0">
<%- include('layout/header') %>

<%- include('modules/fb') %>

    <div class="page-header mgTop20">
        <h1 class="welcome"><span class="text-shadow"><%= texts.seo.articles.title %></span></h1>
    </div>

<%- include('layout/footer') %>

<%- include('layout/scrollListeners') %>

</body>
</html>
