<!DOCTYPE html>
<html>

<%- include('layout/head') %>

<body data-spy="scroll" data-target=".navbar" data-offset="0">

<%- include('layout/header') %>

<%- include('modules/fb') %>

<%- include('modules/browseCatList') %>

<%- include('layout/footer') %>

<%- include('layout/scrollListeners') %>

</body>
</html>
