<!DOCTYPE html>
<html>

  <%- include('layout/head') %>

  <body data-spy="scroll" data-target=".navbar" data-offset="0">

    <%- include('layout/header') %>

    <%- include('modules/fb') %>

    <%- include('modules/home/welcome') %>

    <%- include('modules/home/mainGallery') %>

    <%- include('modules/home/benefits') %>

    <%- include('modules/home/happyClients') %>

    <%- include('modules/home/forSaleGallery') %>

    <%- include('modules/home/aboutUs') %>

    <%- include('layout/footer') %>

    <%- include('layout/scrollListeners') %>

  </body>
</html>

